<div class="modal fade" id="pago" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Pago por transferencia bancaria</h4>
      </div>
      <div class="modal-body" style="padding-bottom:0;">
        <p>Para completar la compra, por favor realizar un depósito por un total de <strong>${{ page.price }}</strong> a una de las siguientes cuentas. En cuanto recibamos su pago, su pedido será enviado en el mismo día o a más tardar al siguiente día hábil.</p>
      
        <div class="bank-accounts">
          <h3>Banco de Chile</h3>
          <ul>
            <li>
              <span>Número de Cuenta:</span>
              <b>12010449-00</b>
            </li>
            <li>
              <span>Nombre:</span>
              <b>Zhi Qiang Huang</b>
            </li>
            <li>
              <span>Rut:</span>
              <b>14.659.328-3</b>
            </li>
          </ul>    

          <h3>Banco BCI</h3>
          <ul>
            <li>
              <span>Número de Cuenta:</span>
              <b>18609074</b>
            </li>
            <li>
              <span>Nombre:</span>
              <b>Zhi Qiang Huang</b>
            </li>
            <li>
              <span>Rut:</span>
              <b>14.659.328-3</b>
            </li>
          </ul>
        </div>

        <p>Para cualquier duda o consulta, contáctanos por <a href="mailto:hola@prendelis.com">email</a>, <a href="http://twitter.com/prendelis" target="_blank">Twitter</a> o <a href="http://facebook.com/prendelis" target="_blank">Facebook</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>