<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prendelis">
    <meta name="keywords" content="Prendelis">

    <title>{{ page.title }}</title>
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300, 400" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>    
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/dist/css/core.css"></link>
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/src/fonts/flaticon.css"></link>
  </head>
  <body>
    
    <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQZ6PH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MQZ6PH');</script>
  <!-- End Google Tag Manager -->
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/dist/js/core.js"></script>

    <script>
      {{ page.script }}
    </script>
  </body>
</html>