---
layout:             default
body_class:         tienda
---

{% include modal_payment.html %}

<section class="product--details">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <figcaption>
          <h3 class="product--item__title">{{ page.title }}</h3>
          
          {% unless page.category == 'male' %}
          <table class="table product--item__discount table-bordered">
            <tr>
              <th>Antes</th>
              <th>Descuento</th>
              <th>Tú pagas</th>
            </tr>
            <tr>
              <td class="product--item__discount__before">${{ page.price }}</td>
              <td class="product--item__discount__percentage">50%</td>
              <td class="product--item__discount__after">${{ page.price | divided_by: 2 }}</td>
            </tr>
          </table>
          {% endunless %}
          
          {% if page.category == 'male' %}
          <div class="product--item__price">
            ${{ page.price }} 
          </div>
          {% endif %}

          {% unless page.description == "" or page.description == nil %}
          <div class="product--item__description">
            {{ page.description }}  
          </div>
          {% endunless %}

          <ul class="product--item__details">
            
            {% unless page.material == "" or page.material == nil %}
            <li>
              <span>Material</span>
              <b>{{ page.material }}</b>
            </li>
            {% endunless %}
            
            {% unless page.color == "" or page.color == nil %}
            <li>
              <span>Color</span>
              <b>{{ page.color }}</b>
            </li>
            {% endunless %}

            {% unless page.peso == "" or page.peso == nil %}
              <li>
                <span>Peso</span>
                <b>{{ page.peso }} kg</b>
              </li>
            {% endunless %}
            
            {% unless page.largo == "" or page.largo == nil %}
            <li>
              <span>Largo</span>
              <b>{{ page.largo }} cm</b>
            </li>
            {% endunless %}

            {% unless page.alto == "" or page.alto == nil %}
            <li>
              <span>Alto</span>
              <b>{{ page.alto }} cm</b>
            </li>
            {% endunless %}

            {% unless page.ancho == "" or page.ancho == nil %}
            <li>
              <span>Ancho</span>
              <b>{{ page.ancho }} cm</b>
            </li>
            {% endunless %}

            {% unless page.asas == "" or page.asas == nil %}
            <li>
              <span>Asas</span>
              <b>{{ page.asas }} cm</b>
            </li>
            {% endunless %}
          </ul>
              
          {% if page.price >= 20000 %}
            <div class="alert alert-success text-center hide" data-toggle="tooltip" title="Envío gratis para todo Chile" style="margin-bottom:0;">
              Este producto no tiene costo de envío!
            </div>
          {% endif %}

          <button class="btn btn-block btn-lg product--item__btn" data-toggle="modal" data-target="#pago">
            <span class="flaticon-tag1"></span>Comprar
          </button>
        </figcaption>
        
        {% include js_disqus.html %}
      </div>

      <div class="col-sm-8">
        <div class="product--item"> 
          <figure>
            <img src="/assets/images/products/{{ page.id }}/main.jpg" alt="{{ page.title }}" class="img-responsive">
          </figure>
        </div>

        <div class="row">
          {% for i in (1..page.images) %}
          <div class="col-sm-4">
            <figure>
              <img src="/assets/images/products/{{ page.id }}/{{ i }}.jpg" alt="{{ page.title }}" class="img-thumbnail">
            </figure>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>